.main-header{
    height:300px;
    background:url(../images/hero.jpg) no-repeat center center;
}

.logo{
    @include span(2);
    
    img{
        max-width:100%;
    }
}

.main-navigation{
    margin-top:25px;
    @include span(5 last);
    
    li{
        float: left;
    }

    a{
        display: block;
        color:#fff;
        text-decoration: none;
        padding: 0 10px;
        
        &:hover{
            text-decoration: underline;
        }
    }
}