<header class="main-header" role="banner">
    <div class="container">
        {{ page.header }}

        <div class="main-navigation">
            {{ page.main_navigation }}
        </div>
    </div>
</header>