<div class="movie-poster">
    {{content.field_movie_poster}}
</div>

<div class="director">
    {{content.field_director}}
</div>
<br>
<br>
<div class="actors">
    {{content.field_actors}}
</div>
<br>
<br>
<div class="movie-description">
    {{content.body}}
</div>